<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% load static %}
<title>Cinema World</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{%static 'css/style.css'%}" rel="stylesheet" type="text/css" />
<script src="{%static 'js/jquery-1.4.2.min.js'%}" type="text/javascript"></script>
<script src="{%static 'js/cufon-yui.js'%}" type="text/javascript"></script>
<script src="{%static 'js/cufon-replace.js'%}" type="text/javascript"></script>
<script src="{%static 'js/Gill_Sans_400.font.js'%}" type="text/javascript"></script>
<script src="{%static 'js/script.js'%}" type="text/javascript"></script>
<!--[if lt IE 7]>
<script type="text/javascript" src="js/ie_png.js"></script>
<script type="text/javascript">ie_png.fix('.png, .link1 span, .link1');</script>
<link href="css/ie6.css" rel="stylesheet" type="text/css" />
style="background-image: url('{% static 'images/2.jpg' %}')";
<![endif]-->
</head>
<body id="page1">
<!-- START PAGE SOURCE -->
<div class="tail-top" >
  <div class="tail-bottom">
    <div id="main">
      <div id="header">
        <div class="row-1">
          <div class="fleft"><a href="#">Cinema <span>World</span></a></div>
          <ul>
            <li><a href="#"><img src="{%static 'images/icon1-act.gif'%}" alt="" /></a></li>
            <li><a href="#"><img src="{%static 'images/icon2.gif'%}" alt="" /></a></li>
            <li><a href="#"><img src="{%staic'images/icon3.gif%'}" alt="" /></a></li>
          </ul>
        </div>
        <div class="row-2">
          <ul>
            <li><a href="#" class="active">Home</a></li>
            <li class="last"><a href="/login/cinema/">Theatre</a></li>
			<li><a href="/login/profile/">Profile</a></li>
			<li><a href="/login/logout/">LogOut</a></li>
		  </ul>
        </div>
      </div>
      <div id="content">
        <div id="slogan">
          <div class="image png"></div>
          <div class="inside">
             <h2>WELCOME TO<span>INDIA's LARGEST </span></h2>
             <p>entertainment ticketing website.You can book tickets for movies, plays, concerts, sports and many other events happening in your city. </p>
            <div class="wrapper"><a href="#" class="link1"><span><span>Learn More</span></span></a></div>
          </div>
        </div>
        <div class="box">
          <div class="border-right">
            <div class="border-left">
              <div class="inner">
                 <h3>Welcome to <b>Cinema</b> <span>World</span></h3>
                <p>Book your event tickets through our website and enjoy a wonderful experience of fast and economic ticket booking.For more wonderful experience use movie ticket offer coupons and get extraordinary discounts on your payments.  </p>
                <p>We cover most cinemas across the country broadcasting the latest films released across the globe.Select your city and enter the address to find the nearest cinema and the movie presenting in it. </p>
                <p>To get faster event tickets use online payment methods line net banking, credit/debit card or wallets and get additional discount from banks and wallets.</p>
		   Thank You
		   </div>
            </div>
          </div>
        </div>
        <div class="content">
          <h3>Fresh <span>Movies</span></h3>
          <ul class="movies">
            <li>
              <h4>Baaghi 2</h4>
              <img src="{%static 'images/baaghi.jpg'%}" alt="" height="230" width="320"/>
              <p>A story of battle-hardened army officer who goes in search of his ex-lover's child who is mysteriously kidnapped.</p>
              <div class="wrapper"><a href="#" class="link2"><span><span>Read More</span></span></a></div>
            </li>
            <li>
               <h4>Black Panther</h4>
              <img src="{%static 'images/blackpanther.jpg'%}" alt="" height="230" width="320"/>
              <p>A grand science-fiction Marvel movie based on it's character named Black Panther from Wakanda a city which is kept hidden from World. </p>
              <div class="wrapper"><a href="#" class="link2"><span><span>Read More</span></span></a></div>
            </li>
            <li class="last">
              <h4>RAID</h4>
              <img src="{%static 'images/raid.jpg'%}" alt="" height="230" width="320"/>
              <p>An indian period film based on true story of a fearless IT officer who raids the most powerful man in lucknow.</p>
              <div class="wrapper"><a href="#" class="link2"><span><span>Read More</span></span></a></div>
            </li>
            <li class="clear">&nbsp;</li>
          </ul>
        </div>
      </div>
      <div id="footer">
        <div class="left">
          <div class="right">
            <div class="footerlink">
              <p class="lf">you can use it free<a href="#">&nbsp Mayur Patel</a> - No Rights Reserved</p>
              <p class="rf">Design by <a href="#">mayur74patel</a></p>
              <div style="clear:both;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>