
<html><p>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<head>
{% load static %}
<title>Cinema World</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{%static 'css/style.css'%}" rel="stylesheet" type="text/css" />
<script src="{%static 'js/jquery-1.4.2.min.js'%}" type="text/javascript"></script>
<script src="{%static 'js/cufon-yui.js'%}" type="text/javascript"></script>
<script src="{%static 'js/cufon-replace.js'%}" type="text/javascript"></script>
<script src="{%static 'js/Gill_Sans_400.font.js'%}" type="text/javascript"></script>
<script src="{%static 'js/script.js'%}" type="text/javascript"></script>
<!--[if lt IE 7]>
<script type="text/javascript" src="js/ie_png.js"></script>
<script type="text/javascript">ie_png.fix('.png, .link1 span, .link1');</script>
<link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body id="page3">
<!-- START PAGE SOURCE -->
<div class="tail-top">
  <div class="tail-bottom">
    <div id="main">
      <div id="header">
        <div class="row-1">
          <div class="fleft"><a href="#">Cinema <span>World</span></a></div>
          <ul>
            <li><a href="#"><img src="{%static 'images/icon1.gif'%}" alt="" /></a></li>
            <li><a href="#"><img src="{%static 'images/icon2.gif'%}" alt="" /></a></li>
            <li><a href="#"><img src="{%static 'images/icon3.gif'%}" alt="" /></a></li>
          </ul>
        </div>
        <div class="row-2">
          <ul>
            <li><a href="/login/loggedin/">Home</a></li>
            <li><a href="/login/cinema/">Theatre</a></li>
			<li><a href="/login/profile/">Profile</a></li>
            <li><a href="/login/logout/">LogOut</a></li>
          </ul>
        </div>
      </div>
      <div id="content">
        <div class="line-hor"></div>
        <div class="box">
          <div class="border-right">
            <div class="border-left">
              <div class="inner">
                <h3>Our <span>Articles</span></h3>
                <p>A film, also called a movie, motion picture, theatrical film, or photoplay, is a series of still images that, when shown on a screen, create the illusion of moving images.A film, also called a movie, motion picture, theatrical film, or photoplay, is a series of still images that, when shown on a screen, create the illusion of moving images.</div>
            </div>
          </div>
        </div>
        <div class="content">
          <h3><span>MOVIES</span></h3>
          <ul class="list">

{%csrf_token%}		 
{% for student in h1%}
    {%if student.cinema_id_id == h2 %}
		<li><img src="{%static 'images/'%}{{student.movie_img}}" alt="" height="210" width="300"/><a href="/login/cinema/show/?id1={{ student.movie_id }}&id2={{ student.movie_name }}"><button><font size="5">{{ student.movie_name }}</font></button></a></a><br>
		{{student.movie_details}}</li>
		
	{% endif %}
{% endfor %}

		  </ul>
        </div>
      </div>
      <div id="footer">
        <div class="left">
          <div class="right">
            <div class="footerlink">
              <p class="lf">you can use it free<a href="#">&nbsp Mayur Patel</a> - No Rights Reserved</p>
              <p class="rf">Design by <a href="#">mayur74patel</a></p>
              <div style="clear:both;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>